<div class="question-management-page">
  <h1 class="question-management-page__title title">Question List</h1>

  <div class="button-container">
    <button class="button button-create" routerLink="/add">
      Create a new question
    </button>
  
    <button class="button button-create" routerLink="/wiev">
      Wieving all question
    </button>
  </div>

  <ul class="questions-list">
    <li *ngFor="let quest of questions" class="question-item">
      <div class="question-item__description">
        {{ quest.question }}
      </div>

      <div class="question-item__info-container">
        <div class="question-item__type">
          {{ quest.type }}
        </div>
  
        <div class="question-item__date">
          {{ quest.date | date : 'MMM d, y' }}
        </div>
      </div>

      <div class="button-container">
        <button (click)="edit(question.id)" class="button button-edit" routerLink="/edit">
          Edit
        </button>

        <button (click)="removeFromList(question.id)" class="button button-remove">
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
