<div class="question-edit-page">
  <h1 class="question-edit-page__title">Question List</h1>

  <button class="button">
    Go back
  </button>

  <form class="edit">
    <label class="label">
      <div class="edit__description">
        New description
      </div>
      <input type="text" class="input">
    </label>

    <label class="label">
      <div class="edit__answered">
        New status
      </div>
      <input type="text" class="input">
    </label>

    <label class="label">
      <div class="edit__type">
        New type
      </div>
      <input type="text" class="input">
    </label>
    
    <label class="label">
      <div class="edit__type-detailed">
        New type-detailed
      </div>
      <input type="text" class="input">
    </label>

    <button type="submit">

    </button>
  </form>
</div>
