<div
  class="form__group-container"
  *ngIf="dataInfo.status != 'view'"
>
  <form
    class="form__group"
    [formGroup]="formAnswerOptions"
  >
    <div class="form__group-array-container">
      <div class="label">
        Enter answers to the question (2 and more):
      </div>

      <div
        formArrayName="answerOptions"
        *ngFor="let choise of answerOptions.controls; let i=index"
        class="form__group"
      >
        <div class="form__hobby-group">
          <div class="input-container">
            <input
              [formControlName]="i"
              type="text"
              placeholder="Your answer:"
              class="form__input-hobby input"
              (blur)="onBlur()"
            >
            <button
              type="button"
              class="button button-remove input-container__button"
              (click)="removeChoice(i)"
            >
              X
            </button>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="button button-add"
        (click)="addChoice()"
      >
        Add answer
      </button>
    </div>
  </form>
</div>


<div class="question-item__answerOptions" *ngIf="dataInfo.status === 'view'">
  <div class="label">
    Enter answer:
  </div>

  <ul class="answer-list">
    <li *ngFor="let option of item.answerOptions">
      <label>
        {{ option }}
        <input type="checkbox" [value]="option" name="answer" (click)="addAnswer($event)">
      </label>
    </li>
  </ul>

  <button
    type="button"
    (click)="onClick()"
    class="button-submit button"
    [disabled]="!checkAnwer"
  >
    Save
  </button>
</div>
