.list-question-page {
  &-container {
    display: flex;
    justify-content: space-between;
    gap: 15px
  }

  .list-container {
    width: 50%;
  }
}

.question-item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__clear-button {
    padding-top: 3px;
  }

  &__description-answered {
    margin-top: 10px;
  }

  &__answer {
    margin-top: 10px;
  }

  &__answerDate {
    margin-top: 10px;
  }
}

.answered {
  background-color: rgb(208, 233, 206);
  color: rgb(80, 122, 92);
}
