<div class="list-question-page">
  <h1 class="list-question-page__title title">
    Questions and answers
  </h1>

  <button class="button" routerLink="/">
    Go back
  </button>

  <div class="list-question-page-container">
    <div class="list-question-page__unanswered list-container">
      <h3 class="list-question-page__sub-title sub-title">
        Unanswered question
      </h3>
      <ul class="questions-list">
        <li *ngFor="let quest of unansweredQuestions" class="question-item">
          <div class="question-item__description">
            {{ quest.question }}
          </div>

          <div [ngSwitch]="quest.type">
            <ng-template ngSwitchCase="Single">
              <app-single-question [item]="quest"></app-single-question>
            </ng-template>
    
            <ng-template ngSwitchCase="Multiple">
              <app-multiple-question [item]="quest"></app-multiple-question>
            </ng-template>
    
            <ng-template ngSwitchCase="Open">
                <app-open-question [item]="quest"></app-open-question>
            </ng-template>
    
            <ng-template ngSwitchDefault>
              <div class="warning">
                Select new question type
              </div>
            </ng-template>
          </div>
        </li>
      </ul>
    </div>

    <div class="list-question-page___answered list-container">
      <h3 class="list-question-page__sub-title sub-title">
        Answered question
      </h3>

      <ul class="questions-list">
        <li *ngFor="let quest of answeredQuestions" class="question-item">
          <div class="question-item__description">
            {{ quest.question }}
          </div>

          <div class="answer-block">
            <div class="answer-block__label">
              Your answer:
            </div>
  
            <div class="answer-block__answer">
              {{ quest.answer }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
