<div class="question-edit-create-page">
  <h1 class="question-edit-create-page__title title">
    {{ pageTitle }}
  </h1>

  <div *ngIf="!checkId && id" class="warning">
    Go back to select an item to change
  </div>

  <button class="button" routerLink="/">
    Go back
  </button>

  <div class="container">
    <form
      [formGroup]="questionForm"
      class="form"
      (ngSubmit)="onSubmit()"
    >
      <label class="label">
        <div>
          Edit question:
        </div>
        <input formControlName="question" class="input">
      </label>

      <label class="label">
        <div>
          Edit type of question:
        </div>

        <select
          formControlName="type"
          class="form__select input"
        >
          <option *ngFor="let type of testService.allTypes" [value]="type.name">
            {{ type.name }}
          </option>
        </select>
      </label>

      <div [ngSwitch]="type">
        <ng-template ngSwitchCase="Single">
          <app-single-question (blur)=onBlur($event)></app-single-question>
        </ng-template>

        <ng-template ngSwitchCase="Multiple">
            <app-multiple-question (blur)=onBlur($event)></app-multiple-question>
        </ng-template>

        <ng-template ngSwitchCase="Open">
          <app-open-question></app-open-question>
        </ng-template>

        <ng-template ngSwitchDefault>
          <div class="warning">
            Select new question type
          </div>
        </ng-template>
      </div>

      <button type="submit" class="button button-submit">
        Submit
      </button>
    </form>
  </div>
</div>
