<div class="question-page">
  <h1 class="question-page__title">
    Create new question
  </h1>

  <button class="button" routerLink="/">
    Go back
  </button>

  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="form">
    <input formControlName="description" class="input" placeholder="Question:">

    <select formControlName="type" (change)="selectType($event)" class="form__select">
      <option *ngFor="let type of allTypes" [value]="type">
        {{ type }}
      </option>
    </select>

    <button class="button" type="submit" [disabled]="!questionForm.valid">
      Submit
    </button>
  </form>
</div>
