<div class="question-page">
  <h1 class="question-page__title title">
    Create new question
  </h1>

  <button class="button" routerLink="/">
    Go back
  </button>

  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="form">
    <label class="label">
      <div>
        Enter new question:
      </div>
      <input formControlName="question" class="input">
    </label>
    

    <label class="label">
      <div>
        Select type of question:
      </div>

      <select formControlName="type" (change)="selectType($event)" class="form__select input">
        <option *ngFor="let type of allTypes" [value]="type.name">
          {{ type.name }}
        </option>
      </select>
    </label>

    <div *ngIf="chosedType === 'Multiple'" class="form__group-container">
      <div formArrayName="answerType" *ngFor="let coise of answerType.controls; let i=index" class="form__group">
        <div class="form__hobby-group">
          <div class="">
            Enter answers to the question:
          </div>
          <div class="input-container">
            <input [formControlName]="i" type="text" placeholder="Your answer:" class="form__input-hobby input">
            <button type="button" id="remove" (click)="removeChoice(i)" class="button button-remove input-container__button ">
              X
            </button>
          </div>
        </div>
      </div>
  
      <button type="button" (click)="addChoice()" class="button button-add" >
        Add answer
      </button>
    </div>
    

    <button class="button button-submit" type="submit">
      Submit
    </button>
  </form>
</div>
